@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: bisque;
}

.entrance {
  padding: 30px;
  margin: 30px;
  font-family: "Roboto", sans-serif;
}

.entrance .card {
  display: inline;
}

#search {
  padding: 5px;
  margin-top: 10px;
}

label {
  margin: 5px;
}

#button {
  padding: 5px;
  margin: 5px;
  font-size: 1.2rem;
  margin-left: 50px;
}
